.content {
  padding: 20px;
  & .title {
    display: block;
    text-decoration: underline;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style-type: decimal;

    & > li {
      margin: 10px 0;
    }
  }

  .highlight {
    color: #2cabff;
  }
}